<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Lectura Smoke (ppm)</th>
                <th scope="col">Evento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">3</th>
                <td>13:29:50</td>
                <td>100</td>
                <td>Peligro</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13:29:40</td>
                <td>50</td>
                <td>Advertencia</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>13:29:30</td>
                <td>0</td>
                <td>Normal</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>13:29:20</td>
                <td>100</td>
                <td>Peligro</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13:29:10</td>
                <td>50</td>
                <td>Advertencia</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>13:29:00</td>
                <td>0</td>
                <td>Normal</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>13:29:10</td>
                <td>100</td>
                <td>Peligro</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13:29:05</td>
                <td>50</td>
                <td>Advertencia</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>13:29:00</td>
                <td>0</td>
                <td>Normal</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>13:29:50</td>
                <td>100</td>
                <td>Peligro</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13:29:40</td>
                <td>50</td>
                <td>Advertencia</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>13:29:30</td>
                <td>0</td>
                <td>Normal</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>13:29:20</td>
                <td>100</td>
                <td>Peligro</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13:29:10</td>
                <td>50</td>
                <td>Advertencia</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>13:29:00</td>
                <td>0</td>
                <td>Normal</td>
            </tr>
        </tbody>
    </table>
</div>