<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HALVIS</title>
</head>

<body>
    <% include partials/navigation.ejs %>
    
    <h1>Home de mi servidor. Falta diseñar pero por el momento basta con el boton de LOGIN que me redirecciona a la vista de acceso como usuario rol amninistrador y crear nuevo usuario rol administrador.</h1>
    <h2>NOTA: Por el momento se manejara un solo rol de usuario: que es el Administrador quien tiene los privilegios para PROOGRAMAR fechas de ACTIVACION/DESACTIVACION y CRUD USUARIOS</h2>
    <h3>Mas adelante incluire el rol PARTICIPANTE que no podrá: AGREGAR NUEVOS USUARIOS A SU PROPIO SISTEMA DE MONITOREO LOCAL QUE TIENE EN SU CASA. Ni tampoco modificar la PROGRAMACION DE ACTIVACION/DESACTIVACION de las alarmas. Ni tampoco VISUALIZAR EL
        HISORIAL DE EVENTOS </h3>
    <h4>Y lo que si podra hacer el usuario PARTICIPANTE es: RECIBIR notificaciones en su app movil cuando se active la alarma, y monitorear el inmueble en tiempo real. (nada mas) </h4>
    
</body>

</html>