<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Herramientas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs-style/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <% include partials/navigation.ejs %>
        <h1>Estoy en el archivo tools.ejs que captura las desiciones del usuario final para empezar/detener la monitoreo y generar informes de eventos</h1>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>