<!doctype html>
<html lang="es">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Estoy en la configuracion del administrador</h1>
                <p>Aqui puedo gestionar los sensores y lugares de ubicacion</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>