<!doctype html>
<html lang="es">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Estoy en la configuracion del administrador</h1>
                <p>Aqui puedo agregar nuevos sensores con sus respectivos lugares de ubicacion y datos propios de su colocacion, como por ejemplo:</p>
                <p>Modelo y fabricante, estado: encendido/apagado, notificacion:activado/desactivado, voltaje, amperes, fecha de compra, etc</p>
                <h2>crear sensor</h2>
                <h2>crear nodoZigbee</h2>
                <h2>crear interfazUSB-SERIE</h2>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>