<!doctype html>
<html lang="es">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <div class="jumbotron">
                <h1>H.AL.VI.S</h1>
                <h2>Home Alarm Viewer System</h2>
                <h3>Mi servidor backend app es un sistema que brinda las funciones de notificacion para ayudar a proteger su hogar
                </h3>
                <h3>Sus funcines principales son tres
                    <ul>
                        <li>gestionar sensores</li>
                        <li>notificar a los usuarios sobre eventos de riesgo en el hogar</li>
                        <li>Programas los dias y horarios de funcionamiento</li>

                    </ul>
                </h3>
                <!-- <p>Bienvenido a la plantilla usando EJS</p> -->
            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>