<!doctype html>
<html lang="es">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <div class="jumbotron">
                <h1>Esto es grandioso, estoy en el Main de mi index.js</h1>
                <p>Bienvenido a la plantilla usando EJS</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>